.st-emotion-cache-uf99v8{
    /* background-color: rgba(137, 43, 226, 0.575); */
    background-image: linear-gradient(
        to bottom,
        rgb(255 255 0 / 50%),
        pink,
        rgb(0 0 255 / 50%)

      );
  
}
.st-emotion-cache-1gulkj5{
    background-color: blueviolet;
    color: aliceblue;
    border-radius: 10px;
}
.st-emotion-cache-7ym5gk{
    border: 2px solid rgba(75, 18, 210, 0.855);
    color: rgba(75, 18, 210, 0.855);
}
.st-emotion-cache-7ym5gk:hover{
    border: 2px solid black;
    color: black;
}
.st-emotion-cache-1gulkj5{
    background-color: rgba(0, 0, 0, 0.3);
}